  header, h1 {        /*dress the header and subtitle the same style*/
  color: 0B090A;
  font-family: "Proxima Nova", "Times New Roman", fancy;   
  margin: auto;
  text-align: center;
  background: 0px;
  background-image: cover;
}

h2 {
  font-family: "Proxima Nova";  /*align everything to the center*/
  text-align: center;
  color: F2F2F2;
}

body {
  font-family: "Proxima Nova";
  font-size: 15px;
  margin: auto;
  background-color: A5A5A5;
  text-align: center;
  color:F2F2F2 ;
  width: 300px;
}

footer {
  font-family: "Proxima Nova";
  text-align: center;
  color:F2F2F2 ;
  margin: auto;
}

img {
  display: block; 
  margin-left: auto;
  margin-right: auto;   /*make sure the image size is appropriate*/
  width: 250px;
  height: auto;
}

a:link {
  color: 2D93AD;
}

a:visited {
  color: D9ED92;
}

a:hover {
  color: F72585;
}

a:active {
  color: 4CC9F0;
}