  header, h1 {        /*dress the header and subtitle the same style*/
  color: 0B090A;
  font-family: "Proxima Nova", "Times New Roman", fancy;
  height: px;   
  margin: auto;
  text-align: center;
  background: 0px;
  background-image: cover;
}

nav {
word-spacing: 30px;   /*give the links some room to breathe*/
}

h2 {
  font-family: "Proxima Nova";  /*align everything to the center*/
  text-align: center;
  color: F2F2F2;
}

body {
  font-family: "Proxima Nova";
  margin: auto;
  background-color: A5A5A5;
  text-align: center;
  color:F2F2F2 ;
  width: 500px;
}

footer {
  font-family: "Proxima Nova";
  text-align: center;
  color:F2F2F2 ;
  margin: auto;
}

img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
