header, h1 {
  color: 0B090A;
  font-family: "Proxima Nova", "Times New Roman", fancy;
  height: px;
  margin: 0px;
  text-align: center;
  background: 0px;
  background-size: cover;
}

nav {
word-spacing: 30px;
}

h2 {
  font-family: "Proxima Nova";
  text-align: left;
  color: F2F2F2;
}

body {
  font-family: "Proxima Nova";
  margin: 120px;
  background-color: A5A5A5;
  text-align: left;
  color:F2F2F2 ;
}

footer {
  font-family: "Proxima Nova";
  text-align: center;
  color:F2F2F2 ;
}

img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


